.fluidbox {
	outline: none;
}
.fluidbox-overlay {
	cursor: pointer;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: .25s ease-in-out;
}
.fluidbox-wrap {
	background-position: center center;
	background-size: cover;
	margin: 0 auto;
	position: relative;
	transition: .25s ease-in-out;
}
.fluidbox-ghost {
	background-size: cover;
	background-position: center center;
	position: absolute;
	transition: .25s ease-in-out;
}