.fluidbox {
	outline: none;
}
#fluidbox-overlay {
	cursor: pointer;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 500;
}
.fluidbox-wrap {
	background-position: center center;
	background-size: cover;
	margin: 0 auto;
	position: relative;
	z-index: 400;
	transition: all .25s ease-in-out;
}
	.fluidbox-opened .fluidbox-wrap {
		z-index: 600;
	}
.fluidbox-ghost {
	background-size: cover;
	background-position: center center;
	position: absolute;
	transition: all .25s ease-in-out;
}